
  .transactionHistory {
    
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .head{
    
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .headItem {
       /* text-transform: uppercase; */
    border: 1px solid transparent;
    border-radius: 15px;
    text-align: center;
    
  }
  .eachItem{
    height: 28px;
    
  }
  .itemType {
    /* text-align: center; */
    padding-left: 20px;
    text-transform: capitalize;
    font-size: 14px;
    
  }

  .itemPart {
    text-align: center; 
   
  }

